<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		
	</head>
	<body>
		
		<h1>Insert Programmer's Data</h1>
		<form action="addProgrammer" method="post">
			
			<h3>Enter Prorammer Name</h3>
			<input type="text" name="pName" >
			<h3>Enter Prorammer </h3>Language
			<input type="text" name="pLang" >
			<button type="submit">Add Programmer</button>
		</form>
		<hr>
		
		<h1>View/Read Programmer Data By Id</h1>
		<form action="findById" method="post">
			
			<h3>Enter Prorammer Id</h3>
			<input type="text" name="pId" >
			<button type="submit">Find Programmer</button>
		</form>
		
		<hr>
		
		<h1>View/Read Programmer Data By Language</h1>
		<form action="findByLang" method="post">
			
			<h3>Enter Prorammer Language</h3>
			<input type="text" name="pLang" >
			<button type="submit">Find Programmer</button>
		</form>
		
		<hr>
		
		<h1>Delete Programmer Data</h1>
		<form action="deleteById" method="get">
			
			<h3>Enter Prorammer Name</h3>
			<input type="text" name="pId" >
			<button type="submit">Delete Programmer</button>
		</form>
		
		<hr>
		<h1>Update Programmer's Data</h1>
		<form action="updateProgrammer" method="post">
			<h3>Enter Prorammer Id</h3>
			<input type="text" name="pId" >
			<h3>Enter Prorammer Name</h3>
			<input type="text" name="pName" >
			<h3>Enter Prorammer </h3>Language
			<input type="text" name="pLang" >
			<button type="submit">Update Programmer</button>
		</form>
			
			
		
	</body>
	
</html>