<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		
	</head>
	<body>
		<h1 th:text="${msg}"}></h1>
		<h1>Programmer's Data</h1>
		<form action="addProgrammer" method="post">
			<h3>Enter Prorammer Id</h3>
			<input type="text" name="pId" >
			<h3>Enter Prorammer Name</h3>
			<input type="text" name="pName" >
			<h3>Enter Prorammer </h3>Language
			<input type="text" name="pLang" >
			<button type="submit">Add Programmer</button>
		</form>
			
		
	</body>
	
</html>