<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>

</head>
<body>
	<section>

		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Register Page</div>

						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							
						</th:block>


						<div class="card-body">
							<form action="createUser" method="post">
								<div class="mb-3">
									<label>Enter Full Name</label> <input type="text"
										name="fullName" class="form-control">
								</div>
								<div class="mb-3">
									<label>Enter Email</label> <input type="text" name="email"
										class="form-control">
								</div>

								<div class="mb-3">
									<select class="form-control" name ="userType" aria-label="Default select example">
									  <option selected>Select User Type</option>
									  <option value="student">Student</option>
									  <option value="teacher">Teacher</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label>Enter Password</label> <input type="text"
										name="password" class="form-control">
								</div>
								<button class="btn btn-primary col-md-12">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>



	</section>



</body>
</html>